body{
	background: #232323;
}

.square{
	width: 30%;
	background: blue;
	padding-bottom: 30%;
	margin: 1.66%;
	float: left;
}

#container{
	width: 600px;
	margin: 0 auto;
}

h1{
	color: white;
}

#stripe{
	background: white;
	height: : 30px;
	text-align: center;
}